<section class="about-section">
  <section class="about-inner">
    <section class="about-content">
        <h2>{{ 'ABOUT.TITLE' | translate }} <span class="accent">{{ 'ABOUT.TITLE_ACCENT' | translate }}</span></h2>
        <p class="about-text">
            <span class="about-label">{{ 'ABOUT.HELLO_LABEL' | translate }}</span>
            {{ 'ABOUT.HELLO_TEXT' | translate }}
            <span class="about-label">{{ 'ABOUT.GROW_LABEL' | translate }}</span>
            {{ 'ABOUT.GROW_TEXT' | translate }}
        </p>
        
        @if(showMore){
        <p class="about-text about-more">
            {{ 'ABOUT.MORE_TEXT_1' | translate }}
            <br>
            {{ 'ABOUT.MORE_TEXT_2' | translate }}
            <br>
            {{ 'ABOUT.MORE_TEXT_3' | translate }}
        </p>
        }
        <button class="more_button" (click)="showMore = !showMore">{{ 'ABOUT.MORE_BUTTON' | translate }}</button>

    </section>

    <section class="about-highlights">
        <section class="highlight_row">
            <span class="highlight_icon">
                <span class="highlight_icon_glyph icon-marker"></span>
            </span>
            <section class="highlight_text">
                <p class="highlight_title">{{ 'ABOUT.OPEN_TITLE' | translate }}</p>
                <p class="highlight_desc">{{ 'ABOUT.OPEN_DESC' | translate }}</p>
            </section>
        </section>

        <section class="highlight_row">
            <span class="highlight_icon">
                <span class="highlight_icon_glyph icon-bulb"></span>
            </span>
            <section class="highlight_text">
                <p class="highlight_title">{{ 'ABOUT.LEARNING_TITLE' | translate }}</p>
                <p class="highlight_desc">{{ 'ABOUT.LEARNING_DESC' | translate }}</p>
            </section>
        </section>

        <section class="highlight_row">
            <span class="highlight_icon">
                <span class="highlight_icon_glyph icon-team"></span>
            </span>
            <section class="highlight_text">
                <p class="highlight_title">{{ 'ABOUT.TEAM_TITLE' | translate }}</p>
                <p class="highlight_desc">{{ 'ABOUT.TEAM_DESC' | translate }}</p>
            </section>
        </section>
    </section>
</section>
</section>

<hr class="section-divider" />
